@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 224 71% 4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Stepper CSS */
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9rem;
  cursor: pointer;
}

.stepper-item:not(:first-child):before {
  content: "";
  position: absolute;
  background-color: hsl(var(--muted));
  width: 100%;
  height: 3px;
  right: 50%;
  top: 33%;
  transform: translateY(-50%);
}

.stepper-item.active:not(:first-child):before,
.stepper-item.completed:not(:first-child):before {
  background-color: #6366f1; /* marine-indigo */
}

.step-counter {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
  background-color: hsl(var(--muted));
  border-radius: 9999px;
  font-weight: 600;
  font-size: 0.875rem;
}

.active .step-counter {
  background-color: #6366f1; /* marine-indigo */
  color: white;
}

.completed .step-counter {
  background-color: #6366f1; /* marine-indigo */
  color: white;
}

.step-name {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.active .step-name {
  color: #6366f1; /* marine-indigo */
}

.completed .step-name {
  color: #6366f1; /* marine-indigo */
}

